.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 100vh;
  background: #f4f3ef;
  padding: 4rem 6rem;
  position: relative;
}

h1 {
  text-transform: capitalize;
}

.header-text-container {
  width: 50%;
  padding: 20px;
  text-align: center;
  position: relative;
}

.header-title {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: start;
}

.header-subtitle {
  text-align: start;
  margin-bottom: 30px;
}

.header-text {
  text-align: start;
}

.header-image {
  text-align: left;
  margin-right: 200px;
  position: relative;
  z-index: 1;
}

.header-image-container {
  position: relative;
}

.circle {
  width: 250px;
  border-radius: 50%;
  background-color: rgb(148, 148, 180);
  height: 250px;
  position: absolute;
  top: 50px;
  left: -24px;
}

.circle1 {
  width: 35px;
  border-radius: 50%;
  background-color: #0e05ce;
  height: 35px;
  position: absolute;
  top: 130px;
  right: 90px;
}

.circle2 {
  width: 20px;
  border-radius: 50%;
  background-color: #0e05ce;
  height: 20px;
  position: absolute;
  top: 80px;
  right: 60px;
}

.circle3 {
  width: 20px;
  border-radius: 50%;
  background-color: #0e05ce;
  height: 20px;
  position: absolute;
  top: 0px;
  right: 150px;
}

.circle4 {
  width: 80px;
  border-radius: 50%;
  background-color: #0e05ce;
  height: 80px;
  position: absolute;
  bottom: 0;
  right: -40px;
}

.white {
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: -50px;
  left: 150px;
}

.custom-button {
  background-color: black;
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 100px;
  height: 30px;
}

.custom-button-icon-text-container {
  display: flex;
  align-items: center;
}

.custom-button-icon {
  margin-right: 10px;
}

.custom-button-text-container {
  display: flex;
  flex-direction: column;
}

.custom-button-text {
  font-size: 6px;
  margin-bottom: 2px;
}

.custom-button-text1 {
  font-size: 10px;
  font-weight: bold;
}

.bold {
  font-weight: bolder;
  color: black;
}

.button-container {
  display: flex;
}

.button-container {
  margin-top: 0.5rem;
}
